@import '~styles/colors';
@import '~styles/variables';

$message-bubble-padding: 12px;
$message-bubble-background-color: $bg-color-light;
$message-bubble-color: $color-text-dark;
$message-bubble-border-radius: $default-border-radius;
$message-bubble-link-color: $color-blue;
$message-bubble-me-background-color: $color-blue;
$message-bubble-me-color: $color-text-lighter;
$message-bubble-me-link-color: #000;
$message-bubble-nude-padding: 0;
$message-bubble-quoted-padding: 12px 12px 12px 0;
$message-bubble-quoted-indicator-width: 3px;
$message-bubble-quoted-indicator-margin:
	(-2 * $message-bubble-quoted-indicator-width)
	(2 * $message-bubble-quoted-indicator-width)
	(-2 * $message-bubble-quoted-indicator-width)
	$message-bubble-quoted-indicator-width;
$message-bubble-quoted-indicator-border-radius: $default-border-radius;
$message-bubble-quoted-indicator-color: $color-green;

.message-bubble {
	display: flex;

	padding: $message-bubble-padding;
	color: white;
        margin-left: 25%;
    	background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    	background-attachment: fixed;
    	position: relative;
	border-radius: 20px;
    	padding: 8px 15px;

	align-items: stretch;
	flex-flow: row nowrap;
	justify-content: flex-start;
	
	&:before {
		content: "";
    		position: absolute;
    		z-index: 0;
    		bottom: 0;
    		left: -7px;
   		height: 20px;
    		width: 20px;
    		background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    		background-attachment: fixed;
    		border-bottom-right-radius: 15px;		
	}

	&:after {

		content: "";
    		position: absolute;
    		z-index: 1;
    		bottom: 0;
    		left: -10px;
    		width: 10px;
    		height: 20px;
    		background: white;
    		border-bottom-right-radius: 10px;
	}
	

	a {
		color: #fff;
	}

	&--inverse {

		border-radius: 20px;
    		padding: 8px 15px;
    		margin-top: 5px;
    		margin-bottom: 5px;
    		display: inline-block;
    		background: #eee;
		color:#000;    
                position: relative;

		a {
			color: var(--font-color, $message-bubble-me-link-color);
		}

		&:before {
			content: "";
    			position: absolute;
    			z-index: 0;
    			bottom: 0;
    			right: -8px !important;
    			height: 20px;
   		 	width: 20px;
    			background: #eee;
    			background-attachment: fixed;
			left: initial;
    			border-bottom-left-radius: 15px !important;
			border-bottom-right-radius: initial;		
		}

		&:after {
			content: "";
    			position: absolute;
    			z-index: 1;
    			bottom: 0;
    			right: -10px;
    			width: 10px;
    			height: 20px;
    			background: white;
			left: initial;
    			border-bottom-left-radius: 10px !important;
			border-bottom-right-radius: initial;			
		}


	}

	&--nude {
		padding: $message-bubble-nude-padding;

		background-color: transparent;
	}

	&--quoted {
		padding: $message-bubble-quoted-padding;

		background-color: $message-bubble-background-color;

		&::before {
			width: $message-bubble-quoted-indicator-width;
			margin: -6px 6px -6px 3px;

			content: "";

			border-radius: $message-bubble-quoted-indicator-border-radius;
			background-color: $message-bubble-quoted-indicator-color;
		}
	}
}
