@import '~styles/colors';
@import '~styles/helpers';
@import '~styles/variables';

.footer {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;

	width: 100%;
	padding: 4px 8px;

	color: $color-text-grey;

	font-size: 0.625rem;
	align-items: stretch;
	justify-content: space-between;

	&__content {
		display: flex;

		padding: 4px 8px;
	}

	&__options {
		padding: 0;

		cursor: pointer;
		user-select: none;
		transition: trasform $default-time-animation;
		text-align: left;
		letter-spacing: 0.2px;

		color: $color-text-grey;
		border: none;
		background: none;

		font-size: 0.625rem;
		font-weight: bold;
		line-height: 1;

		@include pressable-button(2px);
	}
}

.powered-by {
	width: 100%;
	margin: 0;
	display:none;
	user-select: none;
	text-align: end;

	font-size: 10px;
	font-weight: 500;
	align-self: flex-end;

	.powered-by__logo {
		margin: 0 5px;

		vertical-align: middle;
		--text-color: #{$color-text-grey};
		--rocket-color: #{$color-text-grey};

		&:hover {
			--text-color: #2f343d;
			--rocket-color: #db2323;
		}
	}
}
